apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend
  namespace: todo-chatbot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
      - name: backend
        image: todo-backend:latest
        ports:
        - containerPort: 8000